@import url(./variable.css);*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************Main Container*******************/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: aqua;
}
.parent {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 30px 0 30px;
 }
   
.div1 {
    background-color: #E7DADD; 
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 3;
    width: 90%;
    height: 95px;
    margin: 23px 67px 54px 74px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . ."; 
 }
.div1 p {
    font-size: 60px;
    font-family: "Kavoon-Regular";
    color: var(--color-1);
 }
.div1 nav ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
    width: 711px;
    height: 34px;
    gap: 33px;
    margin-top: 30px;
    list-style-type: none;
 }
.div1 li {
    font-size: 28px;
    font-family: "Inter-SemiBold";
    color: var(--color-1);
 }
.div1 li:nth-child(1) {
    width: 85px;
 }
 .div1 li:nth-child(2) {
   width: 120px;
}
.div1 li:nth-child(3) {
      width: 138px;
}
.div1 li:nth-child(4) {
   width: 100px;
}
.div1 li:nth-child(5) {
   width: 136px;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 27px 10px 20px 400px;
    right: 30px;
    width: 94px;
    height: 48px;
    gap: 10px;
}
.social img {
    width: 28px;
    height: 28px;
}
 .div2 {
 
    background-color: #6DADAF; 
    grid-row-start: 2;
    grid-row-end: 20;
    width: 1022px;
    height: 922px;
    margin: 0 0 0 0px;
    display: flex;
    flex-direction: row;  
 }
 .title {
    display: flex;
    flex-direction: column;
    width: 304px;
    height: 120px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 50px 60px 0 0;
    line-height: 1;
 }
 .title p {
    font-size: 24px;
    font-family: "Seaweed_Script-Regular";
    color: var(--color-1);
    width: 183px;
    height: 33px;
 }
 .title h2 {
   font-size: 64px;
   font-family: "Lalezar-Regular";
   color: var(--color-1);
   width: 284px;
   height: 100px;
}
.title h3 {
   font-size: 32px;
   font-family: "Lalezar-Regular";
   color: var(--color-1);
   width: 106px;
   height: 50px;
   line-height: 0.4;

}
 .div3 {
    background-color: #8B9BE6; 
    grid-row-start: 2;
    grid-row-end: 20;
    width: 813px;
    height: 922px;
    margin: 0 0 0 0;
 }
 .description {
    display: flex;
    flex-direction: column;
    width: 628px;
    height: 294px;
    justify-content: center;
    align-items: center;
    margin: 197px 0 246px 10px;
    line-height: 1.6;
 }
 .description h2 {
    font-size: 69.56px;
    font-family: "Inter-Bold";
    color: var(--color-1);
    width: 600px;
    height: 84px;
 }
 .description h6 {
    font-size: 32px;
    font-family: "Lalezar-Regular";
    color: var(--color-1);
    width: 199px;
    height: 50px;
 }
 .description p {
    font-size: 24px;
    font-family: "Inder-Regular";
    color: var(--color-1);
    width: 608px;
    height: 150px;
    line-height: 1;
}