*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************Main Container*******************/
.parent {
    display: grid; 
 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
    
 }
   
 .div1 {
 
    background-color: #E7DADD; 
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 3;
    width: 90%;
    height: 95px;
    margin: 23px 67px 0px 74px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . ."; 
 }
 .div2 {
 
    background-color: #6DADAF; 
    grid-row-start: 2;
    grid-row-end: 20;
    width: 943px;
    height: 827px;
    margin: 0;
    
 }
 .div3 {
 
    background-color: #8B9BE6; 
    grid-row-start: 2;
    grid-row-end: 20;
    width: 943px;
    height: 827px;
    margin: 0;
 }